
// Fonts & basics
$default-font: 'Rubik', sans-serif;
$secondary-font: 'Special Elite', cursive;

// Colors.
$light-gray-100: #f8f9f9;
$gray: #dedede;

body {
  font-family: $default-font;
}

h1 {
  font-family: $secondary-font;
  font-size: 60px;
}

h5 {
  font-size: 25px;
}

h4 {
  margin-top: -20px;
  font-weight: 400;
  font-size: 20px;
}

h6 {
  font-weight: 400;
  font-size: 18px;
}

a {
  font-weight: 700;
}

//css grid styling

.container {
  margin: 0px 240px;
  margin-top: 100px;
  // display: grid;
  // grid-template-columns: repeat(10, 1fr);
}

.header-titles {
  text-align: center;
  margin-top: 100px;
}

.subtitle {
  text-align: center;
  background-color: black;
  color: #fff;
  padding-top: 120px;
  position: fixed;
  bottom: 0;
  width: -webkit-fill-available;
}

.black-corner {
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: -webkit-fill-available;
  height: 200px;
}

.arrow {
  width: 15%;
  padding-bottom: 120px;
  cursor: pointer;
}

.arrow:active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

//sidebar styling

.sidebar-container {
  width: 140px;
  height: 100vh;
  position: fixed;
  z-index: 100;
}

.logo {
  position: fixed;
  top: 0;
  margin: 40px 32px;
  cursor: pointer;
}

.logo:hover {
  animation: rotate-btn .5s linear 3;
  -webkit-animation: rotate-btn .5s linear 3;
  opacity: 0.5;
}

@keyframes rotate-btn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.about-logo {
  text-align: center;
  position: fixed;
  bottom: 0;
  margin: 40px 32px;
  cursor: pointer;
}

.about-logo:hover {
  opacity: 0.5;
}

//Multiselect styling

.multiselect-wrapper {
	border: 1px solid $gray;
	border-bottom: 0;
	border-radius: 4px;
	font-family: $default-font;
	position: relative;
} // .multiselect-wrapper

.select-dropdown {
	border-top: 0;
	display: flex;
	flex-direction: column;
	left: 0;
  overflow: hidden;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 1;

	& label {
		background-color: $light-gray-100;
		border-bottom: 1px solid $gray;
		padding: 0.3125rem 0.625rem;
	}

	input[type='checkbox'] {
		left: -9999px;
		position: absolute;
		top: -9999px;

		&:checked + label {
			background-color: $gray;
		} // &:checked + label
	 } // input[type='checkbox']

	&.shown {
		overflow: auto;
	} // &.shown
} // .select-dropdown

.select-input {
	padding: 0.625rem;

	.item-pill {
		background-color: $light-gray-100;
		border-radius: 3px;
		border: 1px solid $gray;
		display: inline-block;
		margin-right: 5px;
		padding: 0 5px;
		position: relative;

		&::after {
			color: $gray;
			content: '\00d7';
			margin-left: 5px;
		} // &::after
	} // .item-pill
} // .select-input

//single select styling

$grey: #b8bbc8;
$dark-grey: #717790;
$white: #fff;
$input-width: 500px;

.wrapper {
  position: relative;
  margin-top: 100px;
  background-color: black;
  padding: 20px;
  color: #fff;
}

input{
  border: none;
  background-color: black;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 5px;
  width: $input-width;
  &:focus{
    outline: none;
    }
::placeholder {
  color: $white !important;
  }
}

input::-webkit-input-placeholder{
  color:$white;
}

.search-icon {
  width: 18px;
  padding-right: 10px;
  color: $grey;
}

.checkMark-icon {
  width: 18px;
  height: 18px;
  color: $dark-grey;
  margin-right: 15px;
}

.clear-button{
  color: $grey;
  cursor: pointer;
  position: absolute;
  width: 20px;
  top: 30px;
  right: 45px;
  &:hover {
    color: $dark-grey;
  }
}

.dropdown {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: scroll;
  padding-left: 30px;
  position: absolute;
  width: $input-width - 20px;
 }

.dropdown-options{
  background-color: black;
  cursor: pointer;
  font-size: 20px;
  color: $grey;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    color: $dark-grey
  }
}

.dropdown-options.focused, .dropdown-options.selected {
  color: $dark-grey
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

//modal styling

.modal-container {
  background-color: black;
  padding: 20px;
  z-index: 300;
  margin: 0 auto;
  width: 300%;
  height: 500px;
  border: 2px solid $white;
  border-radius: 8px;
  overflow-y: scroll;
  padding: 40px 100px;
  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $white;
    margin-right: 5px;
  }
}

.modal-button {
  border-radius: 4px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 80px;
  border: 2px solid $white;
  background-color: black;
  color: $white;
  font-size: 18px;
}

.modal-button:hover {
  background-color: yellow;
  color: black;
}

.center-button {
  text-align: center;
}

.modal-text {
  color: $white;
}

.modal-bottom {
  padding-top: 20px;
  font-size: 12px !important;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 60px;
  }
  .container {
    margin: 0px 100px;
    margin-top: 180px;
  }
}

::-webkit-scrollbar {
  width: 7px;
  margin-right: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: yellow;
  margin-right: 5px;
}

.information-container {
  margin-top: 100px;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
  .container {
    margin: 0px 100px;
    margin-top: 200px;
  }
}

//select

